.Header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    top: 15px;
    left: 850px;
  }
  
body {
    background-color: #343434;
    overflow: hidden;
  }

  .block {
    width: 5000px;
    height: 200px;
    background-color: transparent;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: fixed;
    top: 330px;
    left: 690px;
  }

  .Link{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    position: absolute;
    top: 410px;
    left: 850px;
    text-decoration: none;
    color: inherit;
    background-color: #28282B;
    border: transparent;
    border-radius: 50px;
  }
  .Link:hover{
    background-color: white;
  }

  .Link2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 61px;
    position: absolute;
    top: 490px;
    left: 850px;
    text-decoration: none;
    color: inherit;
    background-color: #28282B;
    border: transparent;
    border-radius: 50px;
  }

  .Link2:hover{
    background-color: white;
  }
