.Header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    top: 15px;
    left: 850px;
  }
  
body {
    background-color: #343434;
    overflow: hidden;
  }

  .block {
    width: 300px;
    height: 200px;
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 350px;
    left: 869px;
  }

  .Link{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    position: absolute;
    top: 440px;
    left: 855px;
    text-decoration: none;
    color: inherit;
    background-color: #28282B;
    border: transparent;
    border-radius: 50px;
  }

