body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .snowflake {
    position: absolute;
    width: 20px; 
    height: 20px;
    background-image: url('/Images/Snow.png');
    background-size: cover;
    animation: falling linear infinite;
  }
  
  #loading-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }
  
  #loading-page h1 {
    font-size: 3rem;
    color: white;
  }
  
  #loading-page p {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  #enter-link {
    color: white;
    text-decoration: none;
  }
  
  
  .snowflake {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
    animation: falling linear infinite;
  }
  
  @keyframes falling {
    0% {
      transform: translateY(-10vh);
    }
    100% {
      transform: translateY(110vh);
    }
  }
  